<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>异次元通讯</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <base href="..">
    <link rel="stylesheet" href="assets/preview.css">
    <link rel="icon" type="image/png" href="assets/icons/icon-32.png">
    <link rel="stylesheet" href="https://misaka91.coding.net/p/cdn/d/cdn/git/raw/master/sub/barrage.css?download=true">
</head>
<body style="background-color: #FAFAFC">
<div id="xf-root"></div>

<div id="init_loading_div"></div>
<script>
    const isPortrait = window.innerWidth < window.innerHeight;
    let logoCls = 'evlogo';
    let logoUrl = 'assets/splash-images/splash_logo';
    if (isPortrait) {
        logoCls += '_v';
        logoUrl += '_v';
    } else {
        logoCls += '_h';
        logoUrl += '_h';
    }

    const container = document.getElementById('init_loading_div');
    const logo = document.createElement('img');
    logo.className = logoCls;
    logo.src = logoUrl + '.png';
    logo.onload = ()=> {
        container.append(logo);
    };
</script>

<script src="template/config.js"></script>
<script src="template/libs.js"></script>
<script src="template/main.js"></script>
<script src="refTable.js"></script>
<script src="effects.js"></script>

</body>
</html>
