<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="icon" type="image/png" href="assets/icons/icon-32.png">
</head>
<body style="background-color: #FAFAFC">
<script type="text/javascript">
  window.onload = function(){
  window.location.href = '$PreviewUrl$' + '&device=mobile';
};
</script>

</body>
</html>
